body {
    height: 100vh;
}

.contact-form-wrapper {
    padding: 0 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.form-input::-webkit-input-placeholder {
    transition: all 0.4s ease 0s;
}

.form-input:-moz-placeholder {
    transition: all 0.4s ease 0s;
}

.form-input::-moz-placeholder {
    transition: all 0.4s ease 0s;
}

.form-input:-ms-input-placeholder {
    transition: all 0.4s ease 0s;
}
